body{
  
     background-color: rgba(122, 179, 153, 0.685);

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.image-container{
 
    text-align: center;
}

.image-container img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(61, 57, 54, 0.5);
    background-color: lightgray;
    width: 300px;
    height: 300px;
}

.btn{
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e77d1a;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(122, 62, 6, 0.5);
}

.btn:hover{
    background-color: #5c2f05;
    opacity: 0.9;
}
